<% if @names %>
<h1>My name is <%= @names %> </h1>
<% end %>
<form name ="index" action="/named-cat">
  <input type="text" name="name" />
  <input type="submit" value="Submit" />
</form>

<div style='border: 3px dashed red; padding: 20px'>
  <img src='http://bit.ly/1eze8aE';>
</div>
